In [3]:
import modules.iterator as itr
import modules.shortlist 
import pandas_datareader.data as wb
import pandas as pd

In [4]:
df = pd.read_csv('./ind_niftynext50list.csv')
tickers = df['Symbol']
for t in range(50):
    tickers[t] += ".NS"

shortlisted_tickers = itr.roller(tickers)
shortlisted_tickers

c:\Users\Priyank\Documents\Python Scripts\modules\iterator.py:7: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  newDataFrame = pd.Series([])

  Shortlisted Stocks
1        BOSCHLTD.NS
2           PAYTM.NS
3         SIEMENS.NS
4      TORNTPHARM.NS
5       ZYDUSLIFE.NS